:root{
--white:hsl(0, 0%, 100%);
--off-white:hsl(0, 0%, 94%);
--light-grey:hsl(0, 0%, 86%);
--smokey-grey:hsl(0, 1%, 44%);
--off-black:hsl(0, 0%, 8%);
--purple: hsl(259,100%,65%);
--light-red: hsl(0,100%67%);
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family:'Poppins', sans-serif;
}
body{
    background-color:hsl(0, 0%, 86%);
    display:flex;
    min-height:100vh;
    align-items:center;
    justify-content: center;    
}
.container{
    display:flex;
    padding:2rem;
    flex-direction:column;
}
.card{
    display:flex;
    flex-direction:column;
    padding:20px;
    border-radius: 1rem 1rem 10rem 1rem;
    background-color: hsl(0, 0%, 100%);
    width:600px;
    
}
form{
    display:flex;
    flex-direction: column;
}
.form_container{
    gap:2rem;
    display:flex;
}
.block{
    display:flex;
    flex-direction:column;
}
.block label{
    font-weight: 600;
    text-transform:uppercase;
}
input{
    width:100px;
    padding:0.5rem;
    border-radius:5px;
    border: 1px solid var(--light-grey);
    display:flex;
    align-items:center;
    font-size: 0.8rem;
}
:-ms-input-placeholder{
    color:var(--smokey-grey);
    font-weight:800;
    font-size:1.0rem;
}
.submit_form{
    display:flex;
    justify-content: center;
}
.submit_button{
    background-color: hsl(259,100%,65%);
    padding:1rem;
    border-radius: 50%;
    border:none;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}
.submit_class{
    display:flex;
    align-items:center;
}
.submit_class hr{
    width:100%;
}
.output h1{
    font-size: 4rem;
    font-weight: 800;
    font-style:italic;
    color:var(--off-black);
    height:fit-content;
}
small{
    color:red;
}
.output span{
    color:var(--purple);
}
@media screen and (max-width:600px) {
    body{
        display:flex;
    }
    .card{
        width:300px;
        display:flex;
    }
    .container{
        padding:10px;
        display:flex;
        flex-direction:column;
    }
    .form_container{
        display:flex;
        justify-content: space-between;
    }
    .submit_class{
        position:absolute;
    }
    .submit_btn{
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
    }
    .output h1{
        font-size: 3rem;
    }
}